*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Titillium Web', sans-serif;
}

html,
body{
    font-family:'Titillium Web', sans-serif;
    text-align: center;
    padding: 40px;
}

h1 {
    font-size: 300%;
    font-weight: 200;
}

.wrapper {
    margin: 0 auto;
    padding: 10px;
    height: 700px;
    max-width: 900px;
    background:#FF6C13;
}

.section-input {
    padding: 12px;
    background: #efefef50;
    display: flex;
    justify-content: flex-start;
    /* margin-bottom: 20px; */
    width: 95.5%;
    margin: 0 auto 20px auto; 
}

.section-input input {
    margin-right: 10px;
    padding: 10px;
}

.section-input select {
    margin-right: 10px;
}

button {
    padding: 10px 35px;
}

.section-transaction {
    background: #efefef50;
    display: flex;
    margin: 20px;
}

.incomes-box,
.expenses-box{
    border: 1px solid #FF6C13;
    color: white;
    padding: 10px; 
    width: 50%;
    min-height: 500px;  
}


.section-balance {
    background: #efefef50;
    width: 95.5%;
    margin: 0 auto;
    /* border: 1px solid black; */
    
}

h3{
    color: white;
}

.incomes {
    /* text-align: right; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.incomes p {
    font-size: 120%;
    color: black;
    margin-bottom: 5px;
}